<div class="invoice-result">
    {{#if arrArticles}}
    <table id="customers">
        <tr>
            <th>No</th>
            <th>SAP Code</th>
            <th>Barcode Code</th>
            <th>Name</th>
            <th>Orpak<br>Stock</th>
            <th>In Stock</th>
            <th>Diff.</th>
            <th>Supplier</th>
        </tr>
        {{#each arrArticles}}
        <tr> 
            <td>{{index}}</td> 
            <td>{{sapcode}}</td>
            <td>{{barcode}}</td>
            <td>{{name}}</td>
            <td>{{orpakStock}}</td>
            <td class="input-td"><input value="{{inStock}}" type="number" onchange="editValues(event,index = {{index}})"></td>
            <td>{{difference}}</td>
            <td>{{supplier}}</td>
        </tr>
        {{/each}}
    </table>
    {{/if}}
</div>